---
import { Image } from 'astro:assets';


interface Props {
    name: string;
    jobTitle: string;
    avatarPic: ImageMetadata;
    depoiment: String;
}

const {
  name,
  jobTitle, 
  avatarPic, 
  depoiment
} = Astro.props;

---

<div class="card w-96 bg-base-100 shadow-md">
  
  <div class="card-body items-center text-center text-lg pb-0">
    <p class="p-4">
      {depoiment}
    </p>
  </div>

  <div class="flex flex-row justify-start p-8">
    <Image src={avatarPic} alt="Shoes" class="rounded-full" width={100} alt={`${name}'s avatar`}/>
    <span class="flex flex-col pl-4 justify-center text-xl">
      <h3 class="font-extrabold">{name}</h3>
      <p class="font-semibold">{jobTitle}</p>
    </span>
  </div>

</div>