---
import { Image } from "astro:assets";

interface Props {
    title: string;
    imageSrc1: ImageMetadata;
    imageSrc2: ImageMetadata;
    imageSrc3: ImageMetadata;
    subtitle1: string;
    subtitle2: string;
    subtitle3: string;
}

const { title, 
    imageSrc1, 
    imageSrc2, 
    imageSrc3,
    subtitle1,
    subtitle2,
    subtitle3,
} = Astro.props;
---

<h2 class="text-4xl lg:text-6xl font-extrabold max-md:text-center lg:py-4">{title}</h2>

<div class="flex flex-col lg:flex-row p-8 lg:p-20 text-xl font-bold space-x-4 w-full items-center space-y-8 lg:space-y-0 justify-center lg:space-x-[6%]">
    <div class="flex flex-col items-center w-fit text-center">
        <Image
            src={imageSrc1}
            class="rounded-xl"
            loading="lazy"
            width={200}
            alt="picture"
            format="png"
        />
        <span class="w-full flex justify-center pt-4">
            <h3 class="w-[200px]">{subtitle1}</h3>
        </span>    
    </div>
    <div class="flex flex-col items-center w-fit text-center">
        <Image
            src={imageSrc2}
            class="rounded-xl"
            loading="lazy"
            width={200}
            alt="picture"
            format="png"
        />
        <span class="w-full flex justify-center pt-4">
            <h3 class="w-[250px]">{subtitle2}</h3>
        </span>    
    </div>
    <div class="flex flex-col items-center w-fit text-center">
        <Image
            src={imageSrc3}
            class="rounded-xl"
            loading="lazy"
            width={200}
            alt="picture"
            format="png"
        />
        <span class="w-full flex justify-center pt-4">
            <h3 class="w-[200px]">{subtitle3}</h3>
        </span>    
    </div>
</div> 
